/SagaOrchestrator/obj
/SagaOrchestrator/bin
/SagaOrchestrator/SagaOrchestrator.API/bin
/SagaOrchestrator/SagaOrchestrator.API/obj
/SagaOrchestrator/SagaOrchestrator.Application/bin
/SagaOrchestrator/SagaOrchestrator.Application/obj
/SagaOrchestrator/SagaOrchestrator.Domain/obj
/SagaOrchestrator/SagaOrchestrator.Domain/bin
/SagaOrchestrator/SagaOrchestrator.Infrastructure/bin
/SagaOrchestrator/SagaOrchestrator.Infrastructure/obj
/Shared/Contracts/obj
/Shared/Contracts/bin
