/BSOFT.Application/obj
/BSOFT.Application/bin
/BSOFT.Domain/obj
/BSOFT.Domain/bin
/UserManagement.API/obj
/UserManagement.API/bin
/UserManagement.API/publish
/UserManagement.Infrastructure/obj
/UserManagement.Infrastructure/bin

.fake
/Core/Core.Application/obj
/Core/Core.Application/bin
/Core/Core.Domain/obj
/Core/Core.Domain/bin
/__azurite_db_blob__.json
/__azurite_db_blob_extent__.json
/__blobstorage__
/__queuestorage__
# Ignore archived migrations
UserManagement.Infrastructure/Migrations/Archive/
/UserManagement/UserManagement.Infrastructure/obj
/UserManagement/UserManagement.Infrastructure/bin
/UserManagement/UserManagement.API/obj
/UserManagement/UserManagement.API/bin
/FixedAssetManagement/Core/Core.Application/obj
/FixedAssetManagement/Core/Core.Application/bin
/FixedAssetManagement/Core/Core.Domain/obj
/FixedAssetManagement/Core/Core.Domain/bin
/FixedAssetManagement/FAM.API/obj
/FixedAssetManagement/FAM.API/bin
/FixedAssetManagement/FAM.Infrastructure/obj
/FixedAssetManagement/FAM.Infrastructure/bin
/UserManagement/UserManagement.Infrastructure/obj
/UserManagement/UserManagement.Infrastructure/bin
/UserManagement/UserManagement.API/obj
/UserManagement/UserManagement.API/bin
/.vs
/.vscode
/UserManagement/Core/Core.Domain/obj
/UserManagement/Core/Core.Domain/bin
/UserManagement/Core/Core.Application/obj
/UserManagement/Core/Core.Application/bin
