/BSOFT.Application/obj
/BSOFT.Application/bin
/BSOFT.Domain/obj
/BSOFT.Domain/bin
/BSOFT.API/obj
/BSOFT.API/bin
/BSOFT.Infrastructure/obj
/BSOFT.Infrastructure/bin

.fake
/Core/Core.Application/obj
/Core/Core.Application/bin
/Core/Core.Domain/obj
/Core/Core.Domain/bin
/__azurite_db_blob__.json
/__azurite_db_blob_extent__.json
/__blobstorage__
